Sam Voting Returns Cleanning Exploration

In [45]:
import pandas as pd

file = "../data/raw/countypres_2000-2024.csv"
raw_df = pd.read_csv(file)
df = raw_df.copy()
#df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94151 entries, 0 to 94150
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           94151 non-null  object
 1   county_name     94151 non-null  object
 2   year            94151 non-null  int64
 3   state_po        94151 non-null  object
 4   county_fips     94099 non-null  float64
 5   office          94151 non-null  object
 6   candidate       94151 non-null  object
 7   party           93650 non-null  object
 8   candidatevotes  94114 non-null  float64
 9   totalvotes      94151 non-null  int64
 10  version         94151 non-null  int64
 11  mode            91356 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 8.6+ MB

In [47]:
df = df.loc[
    (df["year"] >= 2016) # filter irrelevant years
    & (df["county_fips"].notna()) # remove fip nas
    & (df["mode"].fillna("").str.strip().str.lower() == "total") # dont break out by voting method
    & (pd.to_numeric(df["candidatevotes"], errors="coerce").fillna(0)) # remove zero votes and non-numeric values
].copy()

df.drop(columns=["version", "totalvotes", 'office', 'state_po', 'mode'], errors="ignore", inplace=True)
df["candidatevotes"] = pd.to_numeric(df["candidatevotes"], errors="coerce").astype("Int64") # coerce to numeric and set errors to nan
df["county_fips"] = pd.to_numeric(df["county_fips"], errors="coerce").astype("Int64")

df.head()

,state,county_name,year,county_fips,candidate,party,candidatevotes
0,ALABAMA,AUTAUGA,2024,1001,OTHER,OTHER,293
1,ALABAMA,AUTAUGA,2024,1001,CHASE OLIVER,LIBERTARIAN,65
2,ALABAMA,AUTAUGA,2024,1001,KAMALA D HARRIS,DEMOCRAT,7439
7,ALABAMA,BALDWIN,2024,1003,CHASE OLIVER,LIBERTARIAN,241
11,ALABAMA,BARBOUR,2024,1005,OTHER,OTHER,77